html,
* {
  box-sizing: border-box;
}

:root {
  --color: #ec5242;
  --color2: #272a31;
  --color3: #d3d3d3;
  --fontLato: "Lato", sans-serif;
  --fontCoco: "COCOGOOSE", sans-serif;
}

.color1 {
  color: var(--color);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.font-lato {
  font-family: var(--fontLato);
}

.font-coco {
  font-family: "COCOGOOSE", sans-serif;
}

body {
  height: auto;
}

header {
  background: url(../images/mobile_welcome_bg.png) no-repeat top;
  height: auto;
  background-size: cover;
}

.header-about {
  background: url(../images/about_bg.png) no-repeat;
  height: auto;
  overflow: auto;
  background-color: #f7f7f7;
}

nav {
  list-style: none;
  display: flex;
}

nav > ul {
  list-style: none;
  display: none;
}

.logo {
  display: none;
}

.hamburger-button {
  width: 25px;
  margin: 0.5em 0 0 1em;
  position: fixed;
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 1em;
}

.welcome-text {
  color: var(--color);
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 4em;
  font-family: "Lato", sans-serif;
}

.welcome-header {
  color: var(--color);
  font-size: 1.8em;
  margin-top: 0;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 800;
  line-height: 30px;
}

.welcome-message {
  border: 3px solid rgb(255, 255, 255);
  width: 95%;
  padding: 1em 1em;
  line-height: 1.5em;
  font-size: 12px;
  height: auto;
  text-align: justify;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  color: #606060;
}

.time-location {
  color: #606060;
  margin-bottom: 3em;
  font-family: "COCOGOOSE", sans-serif;
}

.time-location > h3 {
  margin-bottom: 0;
  font-size: 1.4em;
}

.time-location > p {
  margin-top: 0.5em;
  font-size: 10px;
}

.main-program {
  width: 100%;
  background-color: #272a32;
  background-image: url(../images/pattern_bg.png);
  margin-left: 0;
  height: auto;
  padding-top: 50px;
  overflow: auto;
}

.main-program > h3 {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin: 0 0 0 0;
  font-family: "Lato", sans-serif;
}

.main-program-title-low-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ef513c;
  margin: 0 auto 54px;
  margin-bottom: 2em;
}

.program-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
  justify-content: flex-start;
  margin: 0 auto;
}

.program {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3em;
  background-color: rgba(61, 64, 72, 0.6);
  height: auto;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  flex: 1 1 0;
  margin: 0 auto;
  margin-bottom: 1em;
}

.program > ul {
  margin-bottom: 1em;
}

.program-title {
  color: var(--color);
  font-size: 12px;
  width: 10%;
  font-family: "COCOGOOSE", sans-serif;
}

.program-desc {
  color: #fff;
  font-size: 13px;
  justify-content: flex-start;
  height: auto;
  width: 50%;
  font-family: "Lato", sans-serif;
}

.program-icon {
  margin-left: 1em;
}

.join-summit {
  text-align: center;
  width: 70%;
  margin: 2em auto 2em auto;
  height: 4em;
  background-color: var(--color);
  outline: none;
  border: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.speaker-details {
  width: 100%;
}

.speakers-header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.speakers {
  display: flex;
  flex-direction: column;
}

.speaker {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  flex-basis: 100%;
  margin-top: 1em;
  font-family: "Lato", sans-serif;
}

.speaker-photo {
  flex-basis: 50%;
  background-size: contain;
}

.photo-1 {
  background: url(../images/speaker_01.png) no-repeat center;
  background-size: contain;
}

.photo-2 {
  background: url(../images/speaker_02.png) no-repeat center;
  background-size: contain;
}

.photo-3 {
  background: url(../images/speaker_03.png) no-repeat center;
  background-size: contain;
}

.photo-4 {
  background: url(../images/speaker_04.png) no-repeat center;
  background-size: contain;
}

.photo-5 {
  background: url(../images/speaker_05.png) no-repeat center;
  background-size: contain;
}

.photo-6 {
  background: url(../images/speaker_06.png) no-repeat center;
  background-size: contain;
}

.speaker-details2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

.speaker-name {
  font-weight: bold;
  font-size: 16px;
}

.speaker-honours {
  color: var(--color);
  font-style: italic;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

.separator {
  width: 2em;
  margin-left: 0;
}

.speaker-achievements {
  font-size: 10px;
}

/* About Page */
.center {
  text-align: center;
}

.about-welcome {
  padding-top: 4em;
}

.about-welcome-text {
  font-size: 20px;
  color: var(--color);
  font-family: var(--fontLato);
  margin-top: 0;
}

.about-header {
  font-size: 25px;
  color: var(--color);
  font-family: var(--fontCoco);
}

.about-message {
  background-color: #fff;
  border: 1px solid var(--color3);
  padding: 1.5em;
  font-size: 12px;
  width: 95%;
  margin: auto;
  font-family: var(--fontLato);
}

.contact {
  width: 70%;
  margin: auto;
  font-family: var(--fontLato);
}

.contact-text {
  font-size: 11px;
  line-height: 2em;
  margin-bottom: 0;
}

.contact-email {
  text-decoration: underline;
  font-weight: bold;
  margin: 0 auto 4em auto;
  font-size: 12px;
}

.about-main {
  background-color: #fff;
}

.about-content > h3 {
  font-family: var(--fontLato);
}

.hr-about-1 {
  width: 30px;
  border-color: var(--color);
  outline: none;
  border-top-width: 0;
  margin-top: 0;
}

.about-logo {
  font-size: 12px;
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
  font-family: var(--fontLato);
}

.logo-in-about {
  border: 1px solid var(--color3);
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em 5em 1em 5em;
}

.small-text {
  margin-top: 0;
  font-size: 10px;
  width: 50%;
  margin-left: 30%;
  border: 1px solid var(--color3);
  border-left: 0;
  border-right: 0;
  font-family: var(--fontLato);
}

.line-below-about-login {
  border-color: var(--color3);
  outline: none;
  border-top-width: 0;
  width: 100%;
}

.past-summits-title {
  font-family: var(--fontLato);
}

.past-summits {
  width: 90%;
  margin: auto;
  font-size: 15px;
  font-family: var(--fontLato);
}

.past-summits-2 {
  width: 90%;
  margin: auto;
}

.partners {
  background-color: #414246;
  color: #fff;
  padding: 0.5em;
}

.summit {
  height: 250px;
  color: #fff;
  margin: 2em auto 2em auto;
}

.summit-one {
  background: url(../images/speaker_01.png) no-repeat center;
  background-size: contain;
}

.summit-two {
  background: url(../images/speaker_01.png) no-repeat center;
  background-size: contain;
}

.overlay-bg {
  background-color: var(--color);
  width: 90%;
  height: 250px;
  backdrop-filter: blur(0.5px);
  mix-blend-mode: multiply;
  position: absolute;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  position: relative;
}

.summit-year {
  margin-bottom: 0;
  font-size: 2em;
  font-family: var(--fontLato);
}

.summit-location {
  font-size: 1em;
  font-family: var(--fontLato);
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em auto 1em auto;
}

.partners-title {
  font-family: var(--fontLato);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-basis: 100%;
  padding: 2em;
}

.copyright-text {
  font-size: 12px;
  font-family: var(--fontLato);
}

/* Mobile menu list */
.close-btn {
  cursor: pointer;
}

.close-btn:hover {
  scale: 1.2;
}

.menu-overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 1;
  backdrop-filter: blur(7px);
  mix-blend-mode: multiply;
}

.menu-list-mobile {
  position: absolute;
  display: none;
  background: var(--color2);
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-list-mobile-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2em;
}

.menu-list-mobile-2 li a {
  text-decoration: none;
  color: var(--color3);
  font-family: "Lato", sans-serif;
}

.menu-list-mobile-2 li a:hover {
  cursor: pointer;
  color: var(--color);
}

/* Min-width: 768px media query */
@media only screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }

  .logo {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    width: 80%;
    margin: 0 auto;
  }

  .menu-list {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
  }

  .menu-list li a {
    text-decoration: none;
    font-family: var(--fontLato);
    color: var(--color2);
    font-weight: bold;
  }

  .menu-list li a:hover {
    color: var(--color);
  }

  header {
    background-image: none;
  }

  .welcome {
    margin: 0 auto;
    width: 80%;
    background-color: #f8f8f8;
  }

  .welcome-text {
    margin-bottom: 0.7em;
    font-weight: bold;
    font-size: 1.7em;
  }

  .welcome-header {
    font-size: 3em;
    line-height: 40px;
  }

  .welcome-message {
    border-color: #fff;
    width: 75%;
  }

  .time-location > p {
    font-style: normal;
    font-family: var(--fontLato);
    font-size: 1em;
  }

  .program-list {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-right: 5px;
  }

  .program-desc {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .program-title {
    width: 100%;
  }

  .program-icon {
    margin-left: 0;
  }

  .below-main-program-txt {
    font-family: var(--fontLato);
    color: var(--color3);
    text-decoration: underline;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2.5em;
  }

  .join-summit {
    display: none;
  }

  .speaker {
    width: 50%;
    float: left;
  }

  .home-footer {
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
  }

  .home-partners {
    background-color: #424146;
    width: 100%;
  }

  .home-partners-title {
    font-family: var(--fontLato);
    color: #8e8e8e;
    margin-bottom: 0.6em;
  }

  .hr-about-1 {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .home-sponsors {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  .home-footer-logo {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 5em;
  }

  .footer-logo {
    height: 3em;
  }

  .home-copyright-text {
    font-family: var(--fontLato);
    font-size: 1em;
    font-weight: bold;
  }

  /* About page */
  .about-welcome-text {
    display: none;
  }

  .about-welcome {
    padding-top: 1em;
  }

  .about-message {
    width: 70%;
    border-color: var(--color3);
    font-size: 0.9em;
    margin-bottom: 2em;
  }

  .about-content {
    padding-top: 1em;
  }

  .logo-in-about {
    width: 40%;
    border-color: var(--color3);
  }

  .past-summits-2 {
    width: 50%;
    margin: 0 auto;
  }

  .summit {
    width: 35%;
  }

  .overlay-bg {
    width: 30%;
  }

  .overlay-content {
    width: 100%;
  }

  .past-summits-title {
    margin-top: 2em;
  }

  .summit-one {
    float: left;
  }

  .summit-two {
    float: right;
  }

  .partners {
    display: none;
  }

  .footer-about {
    background-color: var(--color2);
    clear: left;
  }

  .copyright-text {
    color: var(--color3);
  }
}
